body
{
    background-color: white !important;
}
.my_nav_bar {
    position: sticky;
    top: 0;
    z-index: 9999;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

.qwerty {
    font-size: 30px;
}

html {
    scroll-behavior: smooth;
}

/*Main Page*/
#Name {
   /* background: url("https://t3.ftcdn.net/jpg/02/89/60/96/360_F_289609649_SayyqhWUJoVj3roYfRty2sWYEipZ2n0L.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}

#main {
    font-size: 100px;
    color: black;
    text-align: center;
    /*font-family:"Brush Script MT", cursive;*/
    /*font-family: "Brush Script MT";*/
    /* text-decoration-style: wavy;
text-decoration-line: underline;
text-decoration-thickness: 5px; */
    /*font-family: 'Bangers', cursive;*/
    /*font-family: 'Parisienne', cursive;*/
    /*font-family: 'Great Vibes', cursive;*/
    /*font-family: 'Tangerine', cursive;*/
    font-family: 'Fredericka the Great', cursive;
    font-weight: 500;
}

#get {
    height: 40px;
    width: 120px;
    text-align: center;
    background-color: rgb(84, 195, 223);
    border: none;
    border-radius: 5px;
    color: white;
}

#logo {
    border-radius: 150px;
    height: 283px;
    width: 283px;
    border-width: 2px;
    border-color: cornflowerblue;
    border-style: solid;
}

/*Our Mission Page*/
#mission {
    /* background: url("https://image.freepik.com/free-vector/medical-healthcare-background-with-text-space_1017-26841.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}

#MISSION,
#DIET, 
#DISEASES,
#MISSION {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
    height: 5px;
    margin: 0 !important;
}

#m {
    width: 350px;
    height: 150px;
}

#a,
#b,
#c,
#d {
    height: 250px;
    width: 300px;
    background-color: white;
    border-width: 5px;
    border-style: double;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 4px;
}

#mi {
    color: blueviolet;
    font-family: "Sofia", cursive;

}

/*Balnced Diet Page*/
#diet {
   /* background: url("https://assets.hongkiat.com/uploads/wood-textures/simple-wood-texture.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}

#bl {
    color: rgb(151, 24, 24);
    text-decoration-color: rgb(93, 9, 9);
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    text-decoration-line: underline;
    font-family: 'Potta One', cursive;
    font-size: 40px;

}

#dietimg {
    width:300px;
    height:250px;
    border-radius: 20px;
    border-style: double;
    border-color: brown;
    border-width: 10px;
}

#ans {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    font-weight: bold;
}

#ques {
    text-align: center;
    font-size: 30px;
    color: darkmagenta;
    font-family: 'Bangers', cursive;
    text-transform: uppercase;
}

/*Medicines & Diseases*/
.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    /*margin-bottom: 15px;*/
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: dimgrey;
}
#cof
{
    height:200px;
    width:150px;
}
#moc
{
    width:200px;
    height:200px;
}
#par
{
    height:200px;
    width:300px;
}
#diseases
{
    /* background:url("https://media.xconomy.com/wordpress/wp-content/images/2020/02/27123419/iStock-1131469143.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px !important; */
}
.bar
{
    background-color:transparent;
    color:black;
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    border-width: 5px;
    border-color: white;
    border-radius: 5px;
    font-family: 'Oleo Script', cursive;
}
.a
{
    color:black;
    border-width: 5px;
    border-color: white;
    border-radius: 5px;
}
p{
    font-family: 'Courgette', cursive;
    font-size: 20px;
    color: black;
}
h5
{
    font-family: 'Cookie', cursive;
    font-size: 35px;
}
#par1
{
    width:300px;
    height:250px;
}
#par2
{
    width:300px;
    height:300px;
}
#ds
{
    color: rgb(104, 16, 116);
    text-decoration-color: rgb(47, 10, 71);
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    text-decoration-line: underline;
    font-family: 'bangers', cursive;
    font-size: 40px;
}

/*About Screen*/
/*#about
{
  background: url("https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1519652819000/photosp/5934e760-691d-40aa-8e32-def8b8ab6ecd/stock-photo-brick-wall-pastel-background-pastels-pastel-colors-pastel-color-pastel-colours-pastel-tones-pastel-pink-5934e760-691d-40aa-8e32-def8b8ab6ecd.jpg");
}
#abimg
{
    height: 75px;
    width: 200px;
}*/