#Name
{
    background-image: "Background.JPG";
}
.my_nav_bar {
    position: sticky;
    top: 0;
    z-index: 9999;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

.qwerty {
    font-size: 30px;
}

html {
    scroll-behavior: smooth;
}

/*Main Page*/

#main {
    font-size: 100px;
    color: black;
    text-align: center;
    /*font-family:"Brush Script MT", cursive;*/
    /*font-family: "Brush Script MT";*/
    /* text-decoration-style: wavy;
text-decoration-line: underline;
text-decoration-thickness: 5px; */
    /*font-family: 'Bangers', cursive;*/
    /*font-family: 'Parisienne', cursive;*/
    /*font-family: 'Great Vibes', cursive;*/
    /*font-family: 'Tangerine', cursive;*/
    font-family: 'Fredericka the Great', cursive;
    font-weight: 500;
}

#get {
    height: 40px;
    width: 120px;
    text-align: center;
    background-color: rgb(84, 195, 223);
    border: none;
    border-radius: 5px;
    color: white;
}

#logo {
    border-radius: 150px;
    /* height: 300px;
    width: 450px; */
    height: 300px;
    width: 300px;
    /* border-width: 2px;
    border-color: cornflowerblue;
    border-style: solid; */
}
#MISSION,
#DIET, 
#DISEASES,
#MISSION,
#ABOUT {
    background-image: linear-gradient(to right, rgba(38, 0, 255, 0), rgb(0, 81, 255));
    height: 5px;
    margin: 0 !important;
}

/*Our Mission Page*/

#m {
    width: 350px;
    height: 150px;
}

#a,
#b,
#c,
#d {
    height: 250px;
    width: 300px;
    background-color: white;
    border-width: 5px;
    border-style: double;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 4px;
}

#mi {
    color: blueviolet;
    font-family: "Sofia", cursive;

}

/*Balnced Diet Page*/
#bl {
    color: rgb(151, 24, 24);
    text-decoration-color: rgb(93, 9, 9);
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    text-decoration-line: underline;
    font-family: 'Potta One', cursive;
    font-size: 40px;

}

#dietimg {
    width:300px;
    height:250px;
    border-radius: 20px;
    border-style: double;
    border-color: brown;
    border-width: 10px;
    margin: 2px;
}

#ans {
    text-align: center;
    font-size: 25px;
}

#ques {
    text-align: center;
    font-size: 30px;
    color: rgb(46, 108, 209);
    text-transform: uppercase;
    font-weight: bold;
}

/*Medicines & Diseases*/
.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    /*margin-bottom: 15px;*/
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: dimgrey;
}
#diseases
{
    margin-top: 0px !important;
}
.bar
{
    background-color:transparent;
    color:black;
    font-size: 30px;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 50px;
    border-style: solid;
}
p{
    font-size: 20px;
    color: black;
}
h5
{
    font-size: 35px;
} 
#ds
{
    color: rgb(104, 16, 116);
    text-decoration-color: rgb(47, 10, 71);
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    text-decoration-line: underline;
    font-family: 'bangers', cursive;
    font-size: 40px;
}

/*About Screen*/

#ab
{
    text-align: left;
}

/*Yoga Screen*/
.book {
    cursor: pointer;
}

.book hr {
    margin-bottom: 10px;
}

.modal-content {
    margin-top: 100px;
}

.img_modal {
    display: inline-block;
}

.p_modal {
    margin-top: 10px;
}

.modal-body {
    text-align: center;
}
