body {
    font-family: 'PT Sans Narrow', sans-serif;
}

#mission,
#about,
#diet,
#recipes,
#habits,
#fitness
{
    margin: 0px 20px 0px 20px !important;
}

#name {
    background-image:url("Background.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.my_nav_bar {
    position: sticky;
    top: 0;
    z-index: 9999;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: white;
}

.qwerty {
    font-size: 30px;
    color: white;
}

html {
    scroll-behavior: smooth;
}

/*Main Page*/

#main {
    font-size: 95px;
    color: black;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 500;
}

#get {
    height: 40px;
    width: 120px;
    text-align: center;
    background-color: rgb(84, 195, 223);
    border: none;
    border-radius: 5px;
    color: white;
}

#logo {
    height: 300px;
    width: 300px;
}

#MISSION,
#ABOUT,
#DIET,
#RECIPES,
#FITNESS,
#HABITS
{
    background-image: linear-gradient(to right, rgba(38, 0, 255, 0), rgb(0, 81, 255));
    height: 5px;
}

/*Our Mission Page*/

#m {
    width: 350px;
    height: 150px;
}

#a {
    height: 300px;
    width: 600px;
    background-color: white;
    border-width: 5px;
    border-style: double;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 4px;
}

#mi {
    color: blueviolet;
    font-family: 'Norican', cursive;
}

/*Balanced Diet Page*/

#dietimg,
#dietimg2 {
    width: 300px !important;
    height: 220px !important;
    border-radius: 20px;
    border-style: double;
    border-color: brown;
    border-width: 10px;
    margin: 2px;
}

#dietimg:hover,
#dietimg2:hover {
    width: 400px;
    height: 300px;
    border-color: black;
}

#ans {
    text-align: center;
}

#ques {
    text-align: center;
    color: rgb(46, 108, 209);
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgb(16, 16, 110);
    font-size: 30px;
}

/*Medicines & Diseases*/
.movie_head {
    /*font-size: 20px;*/
    padding: 6px 22px;
    border-radius: 10px;
    /*margin-bottom: 15px;*/
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: dimgrey;
}

#diseases {
    margin-top: 0px !important;
}

.bar {
    background-color: transparent;
    color: black;
    font-weight: bold;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 50px;
    border-style: solid;
}

p {
    color: black;
    /* font-family: 'Barlow Condensed', sans-serif; */
}

#ds {
    color: rgb(104, 16, 116);
    text-decoration-color: rgb(47, 10, 71);
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    text-decoration-line: underline;
    font-family: 'bangers', cursive;
    font-size: 40px;
}

.movie_text {
    text-align: center;
}

.imp {
    font-weight: bold;
    text-align: left;
    color: rgb(218, 204, 18);
}

/*About Screen*/

#ab {
    text-align: left;
}

/*Yoga Screen*/
.book {
    cursor: pointer;
}

.book hr {
    margin-bottom: 10px;
}

.modal-content {
    margin-top: 100px;
}

.img_modal {
    display: inline-block;
}

.p_modal {
    margin-top: 10px;
}

.modal-body {
    text-align: center;
}

/* Habits Screen */
.hab {
    height: 240px;
    width: 310px;
}

.hab2
{
    height: 240px;
    width: 310px;
}

/* Exercise Screen */
#exer {
    width: 270px;
    height: 270px;
}


/*Font-Size*/

#abo
{
    font-family: 'PT Sans Narrow', sans-serif;
}

#abo,
.ans,
.bar,
.sen,
.top
.imp,
.top
{
    font-size: 27px;
}

.sm,
#nutri
{
    font-size: 24px;
}

#vit
{
    font-size: 30px;
    text-align: center;
    color: rgb(255, 0, 0);
    text-decoration: underline;
    text-decoration-color: rgb(185, 0, 0);
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
}
#tbl
{
    color: rgb(90, 9, 167);
}


#nutri
{
    text-align: left;
}

tr
{
    padding: 5px;
}

.fit
{
    height: 500px;
    width: 370px;
}

.fit2
{
    height: 450px;
    width: 700px;
}

.fit3
{
    height: 400px;
    width: 370px;
}


/**/
.travel_mainDiv {
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none
}

.travel_mainDiv hr {
    width: 230px;
}

.travel_mainDiv h5,
.travel_mainDiv p {
    margin-left: 20px;
}

.rec
{
    width: 300px;
    height: 270px;
    text-align: left;
}

.rec2
{
    width: 300px;
    height: 250;
}

td
{
    color: rgb(255, 123, 0);
    font-size: 24px;
}

.exe
{
    font-style: italic;
    text-decoration: underline;
    text-decoration-style: solid;
}

#if
{
    text-align: center;
    width: 320px !important;
    height: 200px !important;
    border-style: solid;
}

#tagline
{
    font-size: 22px;
    font-style: italic;
}